<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/login.css">

</head>

    <body>
        <form data-form method="POST">
            <div class="container">
                  <p class="error">Dados inválidos</p>
                <label>E-mail</label>
                <input class="input_login" data-email="" type="email" placeholder="" name="email" required autocomplete="email">
                <label>Senha</label>
                <input class="input_login" data-password type="password" name="password" placeholder="" required>

                <div> <button class="login_submit" data-button="" type="submit">ENTRAR</button></div>
                <a class="login_reset" href="#">Esqueci a senha</a>

            </div>
        </form>


</body>

</html>