<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Profile</title>
</head>

<body>

  <nav class="navbar">
      <div class="logo"><p class="p-logo">Logo</p></div>
      <div class="busca">
          <input class="search icone"  type="text" placeholder="Busque por... " >          
        </div>  
        
        <div class="div1"> <button class="btn-settings fa-2x" onclick="alerta()"><i class="fa fa-cog" ></i></button>
        
        </div>
   
  </nav>      

    </div>   
    
    <div class="fundo">
        
            <div class="profile"><p class="p-profile">Foto de Perfil</p></div>
            <p class="Username">Olá, #NomeUsuário</p>
            
            
            <div class="box">
                <span class="fa fa-book livros"></span>
               <a class="perfil-link" href=""> <span>Meus Livros</span></a>                
                
            </div>    

            <div class="box">
                <span class="fa fa-users"></span>
               <a class="perfil-link" href=""> <span>Comunidade</span></a>                
                
            </div>    

            <div class="box">
                <span class="fa fa-edit"></span>
               <a class="perfil-link" href=""> <span>Minhas Publicações</span></a>                
                
            </div>    

            <div class="box">
                <span class="fa fa-link"></span>
               <a class="perfil-link" href=""> <span>link-1</span></a>                
                
            </div>    

            <div class="box">
                <span class="fa fa-link"></span>
               <a class="perfil-link" href=""> <span>link-2</span></a>                
                
            </div>
    
        </div>

    <div class="quadro-meio">
        <span class="fa fa-book livros2"></span>
        <p class="tit-meusLivros">Meus Livros</p>
    </div>    

    <div class="quadro-lateral1">
        <p>Adsense-Pub</p>
    </div>

    <div class="borda-divisoria"></div>

    <div class="quadro-lateral2">
        <p>Adsense-Pub</p>
    </div>

    <div class="cx-contadores"></div>

    <div class="cx-contadores1">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Lidos</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores2">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Lendo</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores3">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Publicados</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores4">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Resenhas</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores5">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Ler depois</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores6">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Amigos</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores7">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Pág Lidas</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="cx-contadores8">

        <div class="txt-card">            
               <a class="perfil-link" href=""> <span>Metas</span></a>            
               <h3 class="nmb-card">0</h3>            
        </div>
               
    </div>

    <div class="capasDashboard"></div>

    <div class="botaoCaixinhas"></div>
    <div class="botaoCaixinhas1"></div>
    <div class="botaoCaixinhas2"></div>
    <div class="botaoCaixinhas3"></div>
    <div class="botaoCaixinhas4"></div>
    <div class="botaoCaixinhas5"></div>
    <div class="botaoCaixinhas6"></div>
    <div class="botaoCaixinhas7s"></div>   
   
</body>

<footer class="rodape">

</footer>
<script src="script.js"></script>

</html>

