<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Write</title>
    <link rel="shortcut icon" href="../assets/img/allwrite_favicon_branco.ico" />
    <link rel="stylesheet" href="../styles/register.css">
</head>
<body>
    <header>
        <a id="logo" href="index.html">
        <img src="../img/logo.png" alt="logo">
        </a>
        <div id="pesquisa">
            <input type="text" placeholder="Busque por" />
            <a id="lupa" href="#">
            <img src="../img/lupa.svg">
            </a>
        </div>
        <div id="config">
            <img src="../img/gear.svg">
            <select class="select_config" name="config" id="config" required>
                <option value=""></option>
            </select>
        </div>

    </header>
    <main>
        <div class="formulario">    
            <form action="cadastro" method="POST" enctype="multipart/form-data">
            <h2 class="titulo_cadastro">CADASTRO</h2>
            <div class="cadastro">
                <div class="inputs">
                    <div class="form">
                        <label class="titulo_form" for = "usuario">Usuário</label>
                        <input class="campo_form" nome="usuario" id="usuario" placeholder="m_assis"/>
                        <label class="titulo_form" for = "email">E-mail</label>
                        <input class="campo_form" nome="email" id="email" placeholder="machadodeassis@mail.com"/>
                        <label class="titulo_form" for = "name">Nome Completo</label>
                        <input class="campo_form" nome="name" id="name" placeholder="Machado de Assis"/>
                    </div>
                    <div class="titulo_endereco">
                        <div class="titulo_estado">
                            <label class="titulo_form" for="estado">Estado</label>
                        </div>
                        <div class="titulo_cidade">
                            <label class="titulo_form" for="cidade">Cidade</label>
                        </div>
                    </div>
    
                    <div class="endereco">
                        <div class="estado">
                            <select class="select_endereco" name="estado" id="estado" required>
                            <option value="">Selecione</option>
                            </select>
                        </div>
    
                        <div class="cidade">
                            <select class="select_endereco  " name="cidade" id="cidade" required>
                            <option value="">Selecione</option>
                            </select>
                        </div>
                    </div> 
                
                </div>
                
                <div class="perfil">
                    <div class="foto">
                        <img src="../img/perfil1.png" alt="Foto do Perfil">
                    </div> 
                    
                    <div class="botoes">
                        <input class="escolher_foto" name="myFile" type="file">
                        <button class="buttom_submit" type="button">Salvar</button>
                    </div>
                </div>

            </div>
            </form>  
            
            <h4 class="titulo_genero">Escolha os seus gêneros favoritos</h4>
            <div class="escolher_generos">
                <div class="generos">
                    <button id="botao_genero" type="button">Auto-Ajuda</button>
                    <button id="botao_genero" type="button">Biografia</button>
                    <button id="botao_genero" type="button">Contos</button>
                    <button id="botao_genero" type="button">Culinária</button>
                    <button id="botao_genero" type="button">Didáticos</button>
                    <button id="botao_genero" type="button">Exotérico</button>
                    <button id="botao_genero" type="button">História</button>
                    <button id="botao_genero" type="button">Infantil</button>
                    <button id="botao_genero" type="button">Ficção</button>
                    <button id="botao_genero" type="button">Trilogia</button>
                </div>
                
                <div id="selecao">
                <img src="../img/proximo.svg" alt= "adicionar">
                <img src="../img/anterior.svg" alt="retirar">
                </div>
                
                <div class="generos">
                    <button id="botao_genero" type="button">Terror</button>
                    <button id="botao_genero" type="button">Romance</button>
                    <button id="botao_genero" type="button">Aventura</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
        </div>
    </footer>
</body>
</html>