body{
  background-color: #E5E5E5;
}


header {
  width: 100%;
  height:  70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:  1px solid #C2C2C2;
  flex-wrap:nowrap;
}

.logo__color  {
  width: 95px;
  height: 60px;
  margin-left: 150px;
  background-image: url(../img/logo_color.png);
  transition: all 0.3s;
}

.logo__color:hover  {
  width: 95px;
  height: 60px;
  margin-left: 150px;
  background-image: url(../img/logo_color_hover.png);
}

/*  FIM HEADER - TOPO DO SITE */

/************************************
CONFIGURAÇÃO MENU
*************************************/

nav {
  max-width: 500px;
}

.menu {
  list-style: none;
  float: left;
  margin-left: -400px;
  margin: 0 auto;
  width: 400px;

}

.menu ul {
  width: 300px;

}

.menu li{
  position:relative;
  float:left;

  font-weight:500;
  color:rgb(75, 75, 75); 


  }

.menu li a{
color:rgb(75, 75, 75); 
text-decoration:none; 
padding:5px 15px;
display:block;
font-weight: none;
}

.menu li a:hover{

color:rgb(0, 0, 0);


}

.menu li  ul{
  position:absolute;
  width: 200px;
  height: 180px;
  top:25px;
  left:0;
  background-color: #ffffff;
  background-position: top;
  background-repeat: no-repeat;
  display:none;
  border:1px solid #fdfdfd;
  padding: 1rem;
  border-radius: 0 15px 20px 30px;
  transition: 0.3s;
  color: #c637c9;
  }

  .menu li:hover ul, .menu li.over ul{
      display:block;
  
  }

  .menu li ul li{
 
      display:block;
      width:100px;
      }

/************************************
FIM - CONFIGURAÇÃO MENU
*************************************/


/************************************
INICIO - CAMPO DO USUÁRIO - SENHA
*************************************/

.field_user {
  width: 155px;
  height: 30px;
  background-color: #ffffff;
  border: #C2C2C2 solid 1px;
  border-radius: 30px;
  margin-right: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px  5px  5px;
  text-align: center;
  align-items: center;
}

.field_user  p{
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;


}

.field_user  a{
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-weight:500;
  color:rgb(95, 95, 95); 
}

.field_user  a:hover{
color: rgba(247, 25, 136, 1);
transition: 0.4s
}

#user__{
  font-size: 0.88rem;
}
/************************************
FIM - CAMPO DO USUÁRIO - SENHA
*************************************/


/************************************
INICIO - MAIN
*************************************/
body {
  background-image: url(../img/background_flowers_profilepage.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
}

  main {
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
   
    background-color: #c637c9;
    display: flex;
    justify-content: center;
    align-items:flex-end;
  }

  .form__suport {
    width: 700px;
    height: 600px;
    background-color: aqua;

}

  .text__top {
    width: 700px;
    height: 200px;
    background-color: chartreuse;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
 form label {
   font-weight: 600;
   color: darkslategrey;
 }



  #name {
    width: 350px;
    height: 40px;
    background-color: #c9c737;
  }

  #email {
    width: 350px;
    height: 40px;
    background-color: #c9c737;
  }

  #message{
    width: 700px;
    height: 40px;
    background-color: #c9c737;
  }
