* {
    padding: 0;
    margin: 0;
}

header{
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px ;
    width: 100%;
}

.fotoHeader{
    display: flex;
    align-items: center;
    max-width: 15vw;
    height: 30px;
    position: static;
    margin: 0 10px 0 10px;
}

.navHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: static;

}

.navHeader > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 45px;
}

.login{
    border-radius: 20px;
    border: 1px black solid;
    display: flex;
    align-items: center;
    height: 40px;
    width: 180px;
    margin-right: 5px;
    
}
.login > div {
    display: flex;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0 3px 0 3px;
}

.login > div > img {
    max-width: 80%;
    border-radius: 20px;
}

.campoLogin, .campoOU{
    padding-right: 10px;
}

.login > a, .navHeader > a, .navHeader > div > a  {
    text-decoration:none;
    color: black;
}

.explorar > a{
    margin:3px;
}

main{
    position: relative;
}

body{
    max-width: 100vw;
}

main{
    height: 100%;
}

.imagemLateralCima > img{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 0;
    max-width: 100%;
}

.textoPrincipal{
    position: absolute;
    top: 190px;
    z-index: 10;
    left: 20px;
    max-width: 70%;
}

.textoPrincipal > h1{
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.textoPrincipal > h3{
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.textoPrincipal > p{
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 5px;
    width: 75%;
}

.notebookHome{
    position: absolute;
    right: 20px;
    top: 150px;
    max-width: 60%;
}


.explicacao_texto{
    position: absolute;
    top: 540px;
    left: 20px;
    z-index: 10;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 65px;
}

.como_usar{
    position: relative;
    z-index: 10;
    left: -30px;
    top: 650px;
}

.explicacao1{
    position: absolute;
    z-index: 8;
    top: 30px;
    max-width: 100%;
}

.explicacao2{
    position: absolute;
    left: 500px;
    top: -90px;
    max-width: 100%;
}

.explicacao3{
    position: absolute;
    top: 680;
    right:10px;
    max-width: 100%;
}

.seta1{
    position: absolute;
    left: 350px;
    top: 50px;
}

.seta2{
    position: absolute;
    right: 400px;
    top: 50px;
    width: 200px;
}

.mao{
    position: absolute;
    top: 1100px;
    z-index: 6;
    width: 100%;
}

@media(min-width:450px) and (max-width:768px){
    .textoPrincipal{
        position: absolute;
        top:150px;
        z-index: 10;
        left: 20px;
        max-width: 1220px;
    }
    .notebookHome{
        display: none;
    }
    .textoPrincipal > h1{
        font-size: 2.8rem;
    }
    
    .textoPrincipal > h3{
        font-size: 1.1rem;
    }
    
    .textoPrincipal > p{
        font-size: 0.8rem;
    }
    .login{
        height: 35px;  
    }

    img.artFundo{
        display: none;
    }
    .artFundoMaior{
        position: absolute;
        top: 470px;
        max-width: 100%;
    }


    
}

@media(min-width:0px) and (max-width:449px){
    header{
        background-color: white;
    }
    .imagemLateralCima > img{
        top: -30px;
        height: 600px;
    }
    .navHeader{
        display: none;
    }
    .textoPrincipal{
        position: absolute;
        top:90px;
        z-index: 10;
        left: 20px;
        max-width: 1220px;
    }
    .notebookHome{
        display: none;
    }
    .textoPrincipal > h1{
        font-size: 1.8rem;
    }
    
    .textoPrincipal > h3{
        font-size: 1.1rem;
    }
    
    .textoPrincipal > p{
        font-size: 0.8rem;
    }
    .login{
        border-radius: 20px;
        border: 1px black solid;
        display: flex;
        align-items: center;
        height: 20px;
        width: 110px;  
    }
    .login > div {
        display: none;
    }

    .login > a {
        font-size: 0.8rem;
        padding: 5px;
    }

    
}

@media(max-width:965px){
    .notebookHome{
        display: none;
    }
    .artFundo{
        display: none;
    }
    .artFundoMaior{
        position: absolute;
        top: 470px;
        max-width: 100%;
    }
    
}

@media(min-width:769px) and (max-width: 965) {

}

@media (min-width:966px) {
    .artFundo{
        width: 100%;
        position: absolute;
        z-index: 7;
        top: 470px;
    }
    
    .artFundoMaior{
        display: none;   
    }    
}