
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}


/* HEADER - TOPO DO SITE */

header {
    width: 100%;
    height:  70px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:  1px solid #C2C2C2;
    flex-wrap:nowrap;
}

.logo__color  {
    width: 95px;
    height: 60px;
    margin-left: 150px;
    background-image: url(../img/logo_color.png);
    transition: all 0.3s;
}

.logo__color:hover  {
    width: 95px;
    height: 60px;
    margin-left: 150px;
    background-image: url(../img/logo_color_hover.png);
}

/*  FIM HEADER - TOPO DO SITE */

/************************************
CONFIGURAÇÃO MENU
*************************************/

nav {
    max-width: 500px;
}

.menu {
    list-style: none;
    float: left;
    margin-left: -400px;
    margin: 0 auto;
    width: 400px;

}

.menu ul {
    width: 300px;

}

.menu li{
    position:relative;
    float:left;

    font-weight:500;
    color:rgb(75, 75, 75); 
 

    }

 .menu li a{
 color:rgb(75, 75, 75); 
 text-decoration:none; 
 padding:5px 15px;
 display:block;
 font-weight: none;
}

.menu li a:hover{

color:rgb(0, 0, 0);


}

.menu li  ul{
    position:absolute;
    width: 200px;
    height: 180px;
    top:25px;
    left:0;
    background-color: #ebeaea;
    background-position: top;
    background-repeat: no-repeat;
    display:none;
    border:1px solid #fdfdfd;
    padding: 1rem;
    border-radius: 0 15px 20px 30px;
    transition: 0.3s;
    color: #c637c9;
    }

    .menu li:hover ul, .menu li.over ul{
        display:block;
    
    }

    .menu li ul li{
   
        display:block;
        width:100px;
        }

/************************************
FIM - CONFIGURAÇÃO MENU
*************************************/


/************************************
INICIO - CAMPO DO USUÁRIO - SENHA
*************************************/

.field_user {
    width: 155px;
    height: 30px;
    background-color: #ffffff;
    border: #C2C2C2 solid 1px;
    border-radius: 30px;
    margin-right: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    text-align: center;
    align-items: center;
}

.field_user  p{
    font-size: 0.8rem;
    text-align: center;
    margin: 0 auto;


}

.field_user  a{
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-weight:500;
    color:rgb(95, 95, 95); 
}

.field_user  a:hover{
color: rgba(247, 25, 136, 1);
transition: 0.4s
}

/************************************
FIM - CAMPO DO USUÁRIO - SENHA
*************************************/

/************************************
INICIO - MAIN - MEIO DO SITE
*************************************/


main {
    max-width: 1440px;
    margin: 0 auto;
}


.main__top {
    height: 368px;
    background-image: url(../img/Group\ 40.png) ;
    background-repeat: no-repeat;
    
    background-position: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.main__top h1 {
    font-size: 4rem;
    color:#3E3E3E;
}

.main__top h3 {
    font-size: 1.4rem;
    color:#3E3E3E;
    margin: 10px 0 10px 0;
    font-weight: 500;
}

.main__top h3:hover {
    font-size: 1.4rem;
    color:#5e0ddf;
    margin: 10px 0 10px 0;
    font-weight: 500;
    
}

.main__top h4 {
    font-size: 1.2rem;
    color:#3E3E3E;
    width: 500px;
    text-align: justify;
    font-weight: 400;
}

.main__top img {
    width: 466px;
    height: 281px;
    margin-right: 80px;
}


.quite {
    max-width: 1440px;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(255, 136, 90, 1) 0%, rgba(247, 25, 136, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius:  15px 15px 0 15px;

}

.text__explanation {
    width: 100%;
    height: 150px;
    padding-left: 15px;
}

.text__explanation h1 {
    font-size: 4rem;
    color: #fff;
    text-align: left;
}

.text__explanation h5 {
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
    transition: all 0.4s;
}

.text__explanation h5:hover {
    font-size: 1.4rem;
    color: rgb(250, 233, 83);
    text-align: left;
    font-weight: 500;
    margin-top: 10px;
}


.figure__1 {
    width: 330px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    background-image: url(../img/IMG1_TARCER.png);
    background-repeat: no-repeat;
    background-position: bottom;
    transition:  0.6;
}

.figure__1 h4 {
    color: white;
    text-align:center;
    font-weight: 400;
}


.figure__2  {
    width: 330px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    font-size: 1.2rem;
    background-image: url(../img/IMG2_TARCER.png);
    background-repeat: no-repeat;
    background-position: top;
}



.figure__2  img{
margin-left: 15px;
}


.figure__2 h4 {
    color: white;
    text-align: center;
    font-weight: 400;
    margin-top: 10px;
}


.figure__3   {
    width: 330px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    margin-right: 10px;
    background-image: url(../img/IMG3_TARCER.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.figure__3 h4 {
    color: white;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}


/* Setas do meio* - Indicadores das figuras*/

.set__1 {
    width: 150px;
    height: 135px;
    margin-right: 14px;
}

.set__2 {
    width: 150px;
    height: 135px;
    transform: rotate(270deg);
    text-align: center;
}
/*  FIM Setas do meio*/


/************************************
FIM - MAIN - MEIO DO SITE
*************************************/



/********************************************
INICIO MEIO - BOTTOM
**********************************************/

.main__bottom {
    max-width: 1440px;
    height: 510;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text__explanation_left {
    width: 700px;
    height: 510px;
}

.text__explanation_left  h1{
    font-size: 2.8rem;
    font-weight: 600;
    color: #3E3E3E;
    margin-top: 50px;
    text-align: left;
    margin-left: 30px;
}

.text__explanation_left  h4{
    font-size: 2rem;
    font-weight: 400;
    color: #3E3E3E;
    margin-top: 40px;
    margin-left: 30px;
}

.img__smoke_right {
    width: 700px;
    height: 510px;
    background-image: url(../img/fundo_bottom_fumaça.svg);
    background-position: top -10px right -25px;
    background-repeat: no-repeat;
}

.hand__smoke_bottom {
    max-width: 1440px;
    height: 800px;
    background-image: url(../img/fumaca_mao_bottom.svg);
    background-repeat: no-repeat;
    background-position: top 0px left -150px;
    border-left: solid 2px  #c637c9;
}

/********************************************
INICIO MEIO - BOTTOM
**********************************************/

/********************************************
INICIO FOOTER - rodape do site
**********************************************/


footer {
    height: 165px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
    border-top: 2px #ffffff solid;
    background-color: rgb(233, 233, 233);
}

/********************************************
fim FOOTER - rodape do site
**********************************************/


/* MOBAL TABLET */
  @media (max-width: 768px){



    header {
        width: 100%;
        height:  70px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom:  1px solid #C2C2C2;
    }
    
    .logo__color  {
        width: 95px;
        height: 60px;
        margin-left: 20px;
        background-image: url(../img/logo_color.png);
        transition: all 0.3s;
    }
    
    .field_user {
        width: 155px;
        height: 30px;
        background-color: #ffffff;
        border: #C2C2C2 solid 1px;
        border-radius: 30px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        text-align: center;
        align-items: center;
    }
    
    .field_user  p{
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto;
    
    
    }
    
    .field_user  a{
        list-style: none;
        text-decoration: none;
        text-align: center;
        font-weight:500;
        color:rgb(95, 95, 95); 
    }


    main {
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    
    
    .main__top {
        height: 368px;
        background-image: url(../img/Group\ 40.png) ;
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 120px;

    }
    
    .main__top h1 {
        font-size: 3rem;
        color:#3E3E3E;
        text-align: center;
    }
    
    .main__top h3 {
        font-size: 1.6rem;
        color:#3E3E3E;
        margin: 10px 0 10px 0;
        font-weight: 500;
    }
    
    .main__top h4 {
        font-size: 1.2rem;
        color:#3E3E3E;
        width: 31rem;
        text-align: justify;
        font-weight: 500;
        margin-bottom: 20px;

    }
    
    .main__top img {
        width: 416px;
        height: 231px;
        margin: 0 auto;
    }
    
    .quite {
        max-width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgb(255, 136, 90, 1) 0%, rgba(247, 25, 136, 1) 100%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 50px 0;
        margin-top: 50px;
        border-radius: 0 40% 0 50%;
        flex-direction: column;

    }

    .text__explanation {
        width: 100%;
        height: 150px;
        text-align: left;

    }

    .text__explanation h1 {
        font-size: 4rem;
        color: #fff;
        text-align: left;
    }

    .text__explanation h5 {
        font-size: 1.2rem;
        color: rgb(250, 233, 83);
        text-align: left;
        font-weight: 500;
        margin-top: 10px;
    }

    .text__explanation h5:hover {
        font-size: 1.4rem;
        color: rgb(250, 225, 83);
        text-align: center;
        font-weight: 500;
        margin-top: 10px;

    }

    .figure__1 {
        width: 330px;
        height: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        background-image: url(../img/IMG1_TARCER.png);
        background-repeat: no-repeat;
        background-position: bottom;
        transition:  0.6;
    }

    .figure__1 h4 {
        color:#ffffff;
        text-align:center;
        font-weight: 400;

    }



    .figure__2  {
        width: 330px;
        height: 320px;
        padding: 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        font-size: 1.2rem;
        background-image: url(../img/IMG2_TARCER.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }


        

    .figure__2  img{
    margin-left: 15px;
    margin-top: 30px;
    }


    .figure__2 h4 {
        color: white;
        text-align: center;
        font-weight: 400;

    }


    .figure__3   {
        width: 330px;
        height: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        margin-right: 10px;
        background-image: url(../img/IMG3_TARCER.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }



    .figure__3 h4 {
        color: white;
        text-align: center;
        font-weight: 400;
        margin-bottom: 10px;
    }


    /* Setas do meio*/

    .set__1 {
        width: 150px;
        height: 135px;
        margin-top: 10px;
        margin-bottom: 60px;
        transform: rotate(100deg);
    }

    .set__2 {
        width: 150px;
        height: 135px;
        transform: rotate(8deg);
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .main__bottom {
        max-width: 100%;
        height: 510;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #ffffff;
    }
    
    .text__explanation_left {
        width: 700px;
        height: 510px;
    }
    
    .text__explanation_left  h1{
        font-size: 2.8rem;
        font-weight: 600;
        color: #3E3E3E;
        margin-top: 50px;
        text-align: left;
        margin-left: 30px;
    }
    
    .text__explanation_left  h4{
        font-size: 2rem;
        font-weight: 400;
        color: #3E3E3E;
        margin-top: 40px;
        margin-left: 30px;
    }
    
    .img__smoke_right {
        width: 0;
        height: 0;
    }
   
    
    .hand__smoke_bottom {
        max-width: 1440px;
        height: 800px;
        background-image: url(../img/fumaca_mao_bottom.svg);
        background-repeat: no-repeat;
        background-position: top 0px left -150px;
        border-left: solid 2px  #c637c9;
    }
    


  }