@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
  padding: 0;
  margin: 0;      
}

.navbar{
  width: 100% ;
  height: 75px;
  background-color: #c4c4c4;
  margin:0;
}

.logo{
  width: 50px;
  height: 50px;
  background-color: white;
  margin-left: 70px;
  margin-top: 8px;
  position: absolute;
  border-radius: 50%;
  }

.p-logo{
  position:absolute;
  top:30%;
  left:15%;
  text-transform: uppercase;
  font-size: 10pt;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;  
}

.search{
  width: 522px;
  height: 48px;
  left: 450px;
  top: 12px;
  position: absolute;
  border:none;
  border-radius:20px 20px 20px 20px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.icone{
  background-image: url(icons/outline_search_black_24dp.png);
  background-repeat: no-repeat;
  background-size: 30px ;
  background-position: 480px 10px;  
  }

  .retangulo{
    width: 101px;
    height: 37px;
    background-color: #FFFFFF;
    margin-top: 15px;
    margin-left: 1730px;
    position: absolute;
    border-radius: 15px;
  }

  .Settings{
  background-image: url(icons/config.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;   
  }

  .profile{
    width: 131px;
    height: 131px;
    background-color: #EEEEEE;
    margin-left: 35px;
    margin-top: 20px;
    position: absolute;
    border-radius: 50%;
    }

    .p-profile{
      position:relative;
      top:30%;
      left:15%;
      text-transform: uppercase;
      font-size: 10pt;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;        
    }

    .fundo{
      background-color: #c4c4c4;
      position: absolute;
      width: 214px;
      height: 445px;
      top:100px;
      border-radius: 0px 15px 15px 0px;      
    }

    .btn-settings{
      width: 60px;
      height: 60px;
      position: absolute;
      margin-left: 1200px;
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
      box-shadow: none;
      margin-top: 5px;
    }

    .btn-settings:hover{
      color: grey;
    }

    .div1{
      border: none;
    }
  
    .Username{
      margin:180px 0px 0px 35px;
      font-family: 'Roboto', sans-serif;
    }

  .box{
    width: 170px;
    height: 50px;
    margin-top: 20px;
    margin-left: 35px;    
  }  

.livros{
  display: inline;
  margin-right: 5px;
}

.perfil-link{
  text-decoration:none;
  color: black;  
  margin-left: -1px;
  
}

.quadro-meio{
  float:right;
  background-color: #ededed;
  width: 865px;
  height: 350px;
  position: absolute;
  margin-left: 275px;
  margin-top: 120px;
  border-radius: 5px;
}

.livros2{
padding: 30px;
}

.quadro-lateral1{
  float: right;
  background-color: #c4c4c4;
  position: absolute;
  width: 150px;
  height: 190px;
  border-radius: 10px;
  margin-left:1193px;
  top: 100px;
  font-variant-position:unset ;
}

.quadro-lateral2{
  float: right;
  background-color: #c4c4c4;
  position: absolute;
  width: 150px;
  height: 190px;
  border-radius: 10px;
  margin-left:1193px;
  margin-top: 281px;
  font-variant-position:unset ;

}

.borda-divisoria{
  background-color: white;
  width:150px ;
  height: 5px;
  float:right;
  margin-top:265px;
  position: absolute;
  margin-left:1193px;
}

.cx-contadores{
  background-color:#ededed ;
  width: 865px;
  height: 81px;
  margin-top: 30px;
  margin-left: 274px;
  border-radius: 5px;
}

.cx-contadores1{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 280px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores2{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 395px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores3{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 520px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores4{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 630px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores5{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 735px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores6{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 840px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores7{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 945px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}

.cx-contadores8{
  width: 85px;
  height: 70px;
  margin-top: -76px;
  margin-left: 1047px;
  border-radius: 5px;
  background-color: #c4c4c4;
  position: absolute;

}


.txt-card{
  margin-left: 20px;
  margin-top: 10px;
  
}

.nmb-card{
  margin-left:15px;   
}

.tit-meusLivros{
  margin-top: -49px;
  margin-left: 50px;
}

.capasDashboard{
  width: 803px;
  height: 128px;
  margin-top: 70px;
  margin-left: 305px;
  position: absolute;
  background-color: #ededed;
  border: 1px solid rgb(182, 179, 179);
  border-radius: 15px;
}

.botaoCaixinhas{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 330px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas1{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 440px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas2{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 550px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas3{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 660px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas4{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 770px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas5{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 880px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas6{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 990px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.botaoCaixinhas7{
  position: absolute;
  width: 80px;
  height: 80px;
  margin-top: 95px;
  margin-left: 1050px;
  background-color: #c4c4c4;
  border: 1px;
  box-sizing: border-box;
  border-radius: 10px;
}

.rodape{
  background-color: #c4c4c4;
  position: absolute;
  width: 100%;
  height: 15%;
  margin-top:370px ;

}
