body{
  background-color: #E5E5E5;
}


header {
  width: 100%;
  height:  70px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:  1px solid #C2C2C2;
  flex-wrap:nowrap;
}

.logo__color  {
  width: 95px;
  height: 60px;
  margin-left: 150px;
  background-image: url(../img/logo_color.png);
  transition: all 0.3s;
}

.logo__color:hover  {
  width: 95px;
  height: 60px;
  margin-left: 150px;
  background-image: url(../img/logo_color_hover.png);
}

/*  FIM HEADER - TOPO DO SITE */

/************************************
CONFIGURAÇÃO MENU
*************************************/

nav {
  max-width: 500px;
}

.menu {
  list-style: none;
  float: left;
  margin-left: -400px;
  margin: 0 auto;
  width: 400px;

}

.menu ul {
  width: 300px;

}

.menu li{
  position:relative;
  float:left;

  font-weight:500;
  color:rgb(75, 75, 75); 


  }

.menu li a{
color:rgb(75, 75, 75); 
text-decoration:none; 
padding:5px 15px;
display:block;
font-weight: none;
}

.menu li a:hover{

color:rgb(0, 0, 0);


}

.menu li  ul{
  position:absolute;
  width: 200px;
  height: 180px;
  top:25px;
  left:0;
  background-color: #ffffff;
  background-position: top;
  background-repeat: no-repeat;
  display:none;
  border:1px solid #fdfdfd;
  padding: 1rem;
  border-radius: 0 15px 20px 30px;
  transition: 0.3s;
  color: #c637c9;
  }

  .menu li:hover ul, .menu li.over ul{
      display:block;
  
  }

  .menu li ul li{
 
      display:block;
      width:100px;
      }

/************************************
FIM - CONFIGURAÇÃO MENU
*************************************/


/************************************
INICIO - CAMPO DO USUÁRIO - SENHA
*************************************/

.field_user {
  width: 155px;
  height: 30px;
  background-color: #ffffff;
  border: #C2C2C2 solid 1px;
  border-radius: 30px;
  margin-right: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px  5px  5px;
  text-align: center;
  align-items: center;
}

.field_user  p{
  font-size: 0.8rem;
  text-align: center;
  margin: 0 auto;


}

.field_user  a{
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-weight:500;
  color:rgb(95, 95, 95); 
}

.field_user  a:hover{
color: rgba(247, 25, 136, 1);
transition: 0.4s
}

#user__{
  font-size: 0.88rem;
}
/************************************
FIM - CAMPO DO USUÁRIO - SENHA
*************************************/


/************************************
INICIO - MAIN
*************************************/
body {
  background-image: url(../img/background_flowers_profilepage.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
}

  main {
    max-width: 1440px;
    height: 800px;

    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  .my__book{
    width: 255px;
    height: 530px;
    background-color:#fff;
    border-radius: 15px;
    padding: 10px;
    margin-top: 0px;
    -webkit-box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54); 
    box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54);
    overflow: auto;
    scroll-behavior: smooth;
  }


  .my__book{
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.my__book::-webkit-scrollbar{
  width: 10px;
    scroll-behavior: smooth;
 
}

.my__book::-webkit-scrollbar-thumb{
  background-color: rgb(252, 100, 100);
  border-radius: 20PX;
  scroll-behavior: smooth;
}

.my__book:hover::-webkit-scrollbar-thumb{
  background-color: rgb(252, 100, 100);
  border-radius: 20PX;
  scroll-behavior: smooth;

}

.my__book:hover::-webkit-scrollbar{

  scroll-behavior: smooth;

}



  .my__book  ul {

    width: 250px;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    align-items:flex-start

  }

  .my__book li {
    width: 250px;
    height:200px ;

    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  .data__book_reader {
    margin-left: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }

  .link__style_nameBook{
    font-size: 18px;
    text-decoration: none;
    font-weight:500;
    color: #3E3E3E;
    margin-top: 10px;

  }

  .link__style_dateBook{
    font-size: 14px;
    text-decoration: none;
    font-weight:400;
    color: #3E3E3E;
    margin-top: 10px;

  }

  .link__style_viewsBook{
    font-size: 14px;
    text-decoration: none;
    font-weight:400;
    color: #3E3E3E;
    margin-top: 10px;

  }

.top__reader{
  width: 950px;
  height: 680px;
  margin-right: 50px;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
  
}

.top__reader h1 {

height: 30px;
width: 850px;
margin-bottom: 20px;
}

.toggle__button{
  width: 80px;
  height: 30px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54); 
  box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54);
}

.reader__book{
  width: 950px;
  height: 640px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54); 
  box-shadow: 0px 0px 31px 4px rgba(104, 101, 101, 0.54);
}

#book__{
  background-color: #c637c9;
  width: 920px;
  height: 620px;
  margin: 0 auto;

}

/************************************
FIM - MAIN
*************************************/
