@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

input{
    outline: none;
    border: #a06d59 solid 1.9px;
}

body{
    background: url(../img/smoke__bg_register2.png) no-repeat;
    background-size: 110%;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    box-shadow: 0px 0px 60px rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    max-width: 26vw ;
    min-height: 1vh;
    margin-left: auto;
    padding-top: 40px;
    float: right;
    font-size: 16px;
    
}

p{
    margin-bottom: 15px;
    font-weight: 400;
}


.grupo_usuario, .grupo_senha{
    margin-bottom: 7px;
    text-align: left;
}

.grupo_identificação{
    text-align: left;
    line-height: 1.5;
    margin-bottom: 15px;


}

.grupo_senha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 15px;
}

.grupo_senha1, .grupo_senha2{
    display: flex;
    flex-direction: column;
}

.grupo_senha1 > label, .grupo_senha2 > label{
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
}

.input_field{
    border: 1px solid #7D7D7D;
    width: 24.6vw;
    height: 16px;
    padding: 5px;
    outline: 0;
    color: #7D7D7D;
    margin-top: 5px;
}

.input_password{

    width: 9vw;
    height: 20px;
    padding: 5px;
    color: #7D7D7D;
    outline: none;
    border: 1px solid #7D7D7D;
}


.use_terms{
    margin-top: 10px;
    font-size: 12px;
    color: #7D7D7D;
    margin-left: 25px;
    margin-bottom: 20px;

}

.send{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_register{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #ff5a18 ;
    width: 360px;
    text-align: center;
    padding: 10px 20px;
    color: #ffffff;
    border: 0px;
    transition: all 0.3s;
    font-weight: bold;
    margin-top: 25px;
    cursor: pointer;
}

.login_register:hover{
    transition: all 0.3s;
    background-color: #fa2828;
}

.term_radio{
    text-decoration: none;
}

.erro{
    background-color: rgb(242 103 34);
    width: 300px;
    height: 48px;
    border-radius: 10px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.erro > p{
    padding-top: 15px;
}

.error_input{
    border-radius: 8px;
    width: 24.6vw;
    height: 20px;
    padding: 5px 5px 0px 5px;
    outline: 0;
    border-color: #fa2828;
}

.p_error{
    color: #fa2828;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 3px;
    margin: 0px;
}

.grupo_senha1, .grupo_senha2{
    max-width: 9vw;
}

.error_password{
    border-radius: 8px;
    width: 9vw;
    height: 20px;
    padding: 5px;
    border-color: #fa2828;
    outline: none;
}

@media (max-width: 700px) {

    .grupo_senha1, .grupo_senha2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grupo_usuario, .grupo_identificação{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 40vw;
    }

    .grupo_senha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}