* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:2px 10px 2px 10px;
    background-color: #F5DB13;
    box-shadow: 0px 3px 21px -5px rgba(0,0,0,0.75);
    z-index: 1;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



main{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(#F2B807, #F5DB13)

}

.imgHome > img {
    max-width: 80%;
}

.img-logo > img {
    width: 150px;
    height: 80px;
    margin-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

.img-menu{
    background: none;
}

.navbar >{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar > a {
    margin-right: 27px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: clamp(0.1em, 1.5em + 1.5vw, 1.5rem);
    color: black;
    box-sizing: border-box;
}


@media(min-width: 0px) and (max-width: 768px){
    header > img {
        width: 128px;
        box-sizing: border-box;
    }

    .imgHome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar{
        display: none;
    }

    .img-menu > img {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        box-sizing: border-box;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        flex-grow: 1;
    }

    .text-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .text-home > h1 {
        font-size: 27px;
        margin-bottom: 30px;
    }

    .text-home > p {
        margin-bottom: 50px;
        font-size: 20px;
    }

    main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

}

.text-home > h1{
    font-weight: normal;
}

@media(min-width: 769px){
    .img-menu > img{
        display: none;
    }
 
    .imgHome > img {
        max-width: 100%;
    }

    .text-home, .imgHome{
        flex-grow: 1;
}

    .text-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: clamp(0.5em, 1.5em + 1.5vw, 1.5rem);
        margin: 50px 50px 50px 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: normal;
        width: 60%;
    }
    
    .text-home > h1 , .text-home > p , .text-home > picture {
        margin-bottom: 50px;
        font-size: 27px;
    }
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border:after{
    content: " ";
    Display: block;
    width : 2.4em;
    height : .2em;
    background-color: #212121;
    border-radius: 10px;
    margin-top : 8px
}

footer {
    display: none;
}