header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
}

header > div > img {
    display: flex;
    justify-content: right;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.input {
    display: flex;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
}


.profile > img {
    display: flex;

}