<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../styles/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio_page</title>
</head>
<body>
    <header>
        <section class="logo">
            <article>
                <img src="" alt="logo">
            </article>
        </section>
        <section class="pesquisa">
            <article>
                <a href="">
                    <ul>
                        <li>
                            categorias
                        </li>
                    </ul>
                </a>
            </article>
        </section>
        <section>
            <article class="input">
                <input type="text">
            </article>
        </section>
             <div id="image">
                <img src="../assets/img/profile.webp" alt="perfil">
            </div>
    </header>
</body>
</html>