<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../public/styles/legendaries.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legendaries</title>
</head>
<body>
    <header>
        <div class="img-logo">
            <img src="../public/img/logo.svg" alt="logo">
        </div>
        <div>
            <nav class="navbar">
                <a class="border" href="../views/index.html">
                    Home
                </a>
                <a href="">
                    Pokédex
                </a>
                <a href="" id="legendaries">
                    Legendaries
                </a>
                <a href="">
                    Documentation
                </a>
            </nav>
        </div>
        <div class="button">
            <button class="img-menu">
                <img src="../public/img/menu.svg" alt="">
            </button>
        </div>
    </header>
</body>
</html>