<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/about.css">
    
    
  </head>
  <body>

            <main>
         


              <div class="bg"></div>
              <div class="bg bg2"></div>
              <div class="bg bg3"></div>
              <div class="content">
                                  <div class="aling-top">
                                                <h1>Quem somos?</h1>
                                                <p>
                                                  A All Write é uma plataforma de publicação de livros para escritores amadores, não conectamos pessoas, conectamos idéias!
                                                  Damos aa pessoas a oportunidade de publicarem suas histórias para uma comunidade de leitores que buscam não só historias mas emoções! 
                                                </p>

                                                 <h3>Por traz de toda essa plataforma há um grupo de futuros desenvolvedores que querem o certficado de conclusão do curso <3</h3>

                                </div>
                                <div class="aling-logo">

                                </div>
                                
                                <div class="aling-names">
                                    <ul>
                                        <li>Ariel Pellegrino</li>                                    
                                        <li>Barbara Fernandez </li>
                                        <li>Marcelo Gamon</li>
                                        <li>Nicolas   Gomes   </li>
                                        <li>Paloma</li>
                                    </ul>

                                </div>

                                <h3><a href="/AllWriteMVC/views/index.ejs"> Voltar a home page </a></h3>
              </div>

              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>

              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>
              <div class="ball"></div>

            

            </main>


            <script type="text/javascript" src="../public/javascript/ball_about.js"></script>

<!-- FIM DO MAIN - CORPO DO SITE-->


  </body>
</html>
