<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/about.css">
    <script type="text/javascript" src="../public/javascript/carousel.js"></script>
  </head>
  <body>

            <main>

              <div class="stars" ></div>
              <div class="stars2" ></div>

            </main>




<!-- FIM DO MAIN - CORPO DO SITE-->


  </body>
</html>
