<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/add_book.css">

  </head>
  <body>

    <!-- HEADER - Topo do  site-->
        <header>

                   <a href="/dashboard" alt="Home page" class="logo__color"> </a>
                          <nav >
                              <ul class="menu">
                                      <li> <a href="#">Explorar</a>
                                             <ul>
                                                    <li><a href="/categoria/aventura/0"> Aventura </a></li>
                                                    <li><a href="/categoria/ação/0"> Ação </a></li>
                                                    <li><a href="/categoria/fantasia/0"> Fantasia </a></li>
                                                    <li><a href="/categoria/ficção/0"> Ficção </a></li>
                                                    <li><a href="/categoria/poesia/0"> Poesia </a></li>
                                                    <li><a href="/categoria/romance/0"> Romance </a></li>
                                                    <li><a href="/categoria/Suspense/0"> Suspense </a></li>
                                                    <li><a href="/categoria/Terror/0"> Terror </a></li>
                                                    <li><a href="/categoria/Biografia/0"> Biografia </a></li>
                                                    <li><a href="/categoria/mistério/0"> Miterário </a></li>
                                                    <li><a href="/categoria/espiritual/0"> Espiritual </a></li>
                                              </ul>
                                            </li>

                                      <li> <a href="#">Sobre</a></li>
                                      <li> <a href="#">Suporte</a></li>
                              </ul>

                          </nav>


                          <div class="field_user">


                                            <img class="img_login" src="/img/foto_icon_user.svg">
                                                <a href="/profile" id="user__">ID_usuário</a>
                                                <img class="enginer__icon" src="/img/engrenagem.svg">

                          </div>
            </header>
<!-- FIM do topo do site-->

<!-- INICIO DO MAIN - CORPO DO SITE-->
            <main>

                <!--Incio Campo de busca-->
                <div class="align__search">
                <div class="search__field">
                    <input type="text" id="search" placeholder="Buscar..."/>
                    <img src="/img/search_icon.svg">
                </div>
              </div>
                 <!--Fim Campo de busca-->


                 <!--Inicio Bloco do perfil do usuário-->
                 <div class="align__profile">




                    <section class="user_books">
                          <h1>Adicionar livro  + </h1>
                        <form id="form-edit-data" method="POST" data-form="">
                                                  <div class="aling-form-edit">
                                                                          <div id="form-edit-title">
                                                                                <label for="title">Título do livro</label>
                                                                                <input data-tittle="" type="text" name="title" id="title" required>
                                                                          </div>

                                                                          <div id="form-edit-front-img">
                                                                            <label for="front-img">Capa do livro<h6>*Somente formato JPEG ou PNG</h6></label>
                                                                            <input data-image="" type="file" name="front-img" id="front-img" placeholder="Selecionar capa do livro" alt="Selecionar capa do livro" accept="image/x-png,image/jpeg" required />
                                                                      </div>

                                                                          <div id="form-edit-category">

                                                                            <label for="category">Categoria</label>
                                                                                    <select data-select name="categoria" id="category" required>
                                                                                              <option value="#"> </option>
                                                                                                <option value="aventura">Aventura</option>
                                                                                                <option value="Ação">Ação</option>
                                                                                                <option value="Fantasia">Fantasia</option>
                                                                                                <option value="Ficção">Ficção</option>
                                                                                                <option value="Poesia">Poesia</option>
                                                                                                <option value="Romance">Romance</option>
                                                                                                <option value="Suspense">Suspense</option>
                                                                                                <option value="Terror">Terror</option>
                                                                                                <option value="Biografia">Biografia</option>
                                                                                                <option value="Espiritual">Espiritual</option>
                                                                                                <option value="Literario">Literario</option>
                                                                                      </select>
                                                                          </div>

                                                                          <div id="form-edit-sinopse">
                                                                                  <label for="sinopse">Sinopse</label>
                                                                                  <input data-sinopse type="text" name="sinopse" id="sinopse" required>
                                                                          </div>


                                                  </div>

                                                  <div class="aling-form-book">
                                                                <label for="select__book"></label>
                                                              <input data-pdf="" type="file" name="select__book" id="select__book" placeholder="Selecionar livro" alt="Selecionar livro" accept="application/pdf" required />
                                                  </div>

                                                  <button type="submit" id="upload" name="upload">Publicar meu livro</button>
                       </form>

                      </section>
              </div>




            </main>

            <script src="https://unpkg.com/axios/dist/axios.min.js">var axios</script>
            <script src="/javascripts/newBook.js"></script>




<!-- FIM DO MAIN - CORPO DO SITE-->

<footer>
a

</footer>
  </body>
</html>
