<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/contact_suport.css">
  </head>
  <body>

    <!-- HEADER - Topo do  site-->
        <header>
           
                   <a href="#" alt="Home page" class="logo__color"> </a>
                          <nav >
                              <ul class="menu">
                                      <li> <a href="#">Explorar</a>
                                             <ul>
                                                    <li><a href="#"> Aventura </a></li>
                                                    <li><a href="#"> Ação </a></li>
                                                    <li><a href="#"> Fantasia </a></li>
                                                    <li><a href="#"> Ficção </a></li>
                                                    <li><a href="#"> Poesia </a></li>
                                                    <li><a href="#"> Romance </a></li>
                                                    <li><a href="#"> Suspense </a></li>
                                                    <li><a href="#"> Terror </a></li>
                                                    <li><a href="#"> Biografia </a></li>
                                                    <li><a href="#"> Miterário </a></li>
                                                    <li><a href="#"> Espiritual </a></li>
                                              </ul>
                                            </li>
                                 
                                      <li> <a href="#">Sobre</a></li>
                                      <li> <a href="#">Suporte</a></li>
                              </ul>

                          </nav>
             

                          <div class="field_user">
                               
                                        
                                            <img class="img_login" src="../public/img/foto_icon_user.svg">
                                                <a href="#" id="user__">ID_usuário</a>
                                                <img class="enginer__icon" src="../public/img/engrenagem.svg">
                                        
                          </div>
            </header>
<!-- FIM do topo do site-->

<!-- INICIO DO MAIN - CORPO DO SITE-->
            <main>
                <article class="form__suport">
                  <div class="text__top">
                    <h1>Ficou com alguma dúvida e precisa nos contatar?</h1>
                    <h3>Utilize o formulário abaixo para enviar suas dúvidas, relatar problemas ou então sugerir melhorias!
                      Ficaremos feliz em falar com voce!
                    </h3>
                  </div>

                          <form id="contactSuport">

                                <div id="form-aling-name">
                                    <label for="name">Digite seu nome</label>
                                    <input type="text" id="name" name="name">
                                
                                    <label for="email">digite seu email</label>
                                    <input type="email" id="email" name="email">
                                </div> 

                                <div id="form-aling-message">
                                    <label for="message"></label>
                                    <input type="text" id="message" name="message" placeholder="Digite aqui sua mensagem">

                                    <button type="submit" id="submit">Enviar</button>
                                </div>

                            </form>
                   </article>



  



             
            </main>




<!-- FIM DO MAIN - CORPO DO SITE-->

<footer>
a

</footer>
<script src="../public/javascript/validatorContact.js"></script>
  </body>
</html>
