<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Write</title>
  <link rel="shortcut icon" href="../img/allwrite_favicon_branco.ico" />
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/dashboard.css">
</head>
<body>
  <header>
    <a href="/dashboard" alt="Home page" class="logo__color"> </a>
    <nav >
      <ul class="menu">
        <li> <a href="#">Explorar</a>
          <ul>
            <li><a href="/aventura"> Aventura </a></li>
            <li><a href="/acao"> Ação </a></li>
            <li><a href="/fantasia"> Fantasia </a></li>
            <li><a href="/ficcao"> Ficção </a></li>
            <li><a href="/poesia"> Poesia </a></li>
            <li><a href="/romance"> Romance </a></li>
            <li><a href="/suspense"> Suspense </a></li>
            <li><a href="/terror"> Terror </a></li>
            <li><a href="/biografia"> Biografia </a></li>
            <li><a href="/literario"> Literário </a></li>
            <li><a href="/espiritual"> Espiritual </a></li>
          </ul>
        </li>
        <li> <a href="#">Sobre</a></li>
        <li> <a href="/contact_support">Suporte</a></li>
      </ul>
    </nav>

    <div class="field_user">
      <img class="img_login" src="../img/foto_icon_user.svg">
        <a href="/profile" id="user__">ID_usuário</a>
      <img class="enginer__icon" src="../img/engrenagem.svg">
    </div>
  </header>
  <main>
    <div class="banner">
      <img src="../img/livros1.jpg" id="img_banner">
    </div>

    <div class="categories">
      <h2>Categorias</h2>
      <div class="select_categories">
        <a href="/aventura"><button id="botao_genero" type="button"><span>Aventura</span><img src="../img/icon_aventura.svg"></button></a>
        <a href="/ficcao"><button id="botao_genero" type="button"><span>Ficção</span><img src="../img/icon_ficcao.svg"></button></a>
        <a href="/infantil"><button id="botao_genero" type="button"><span>Infantil</span><img src="../img/icon_infantil.svg"></button></a>
        <a href="/biografia"><button id="botao_genero" type="button"><span>Biografia</span><img src="../img/icon_biografia.svg"></button></a>
        <a href="/literario"><button id="botao_genero" type="button"><span>Literario</span><img src="../img/icon_exatas.svg"></button></a>
        <a href="/acao"><button id="botao_genero" type="button"><span>Ação</span><img src="../img/icon_acao.svg"></button></a>
        <a href="/poesia"><button id="botao_genero" type="button"><span>Poesia</span><img src="../img/icon_poesia.svg"></button></a>
        <a href="/suspense"><button id="botao_genero" type="button"><span>Suspense</span><img src="../img/icon_suspense.svg"></button></a>
        <a href="/misterio"><button id="botao_genero" type="button"><span>Mistério</span><img src="../img/icon_misterio.svg"></button></a>
        <a href="/literario"><button id="botao_genero" type="button"><span>Humanas</span><img src="../img/icon_humanas.svg"></button></a>
        <a href="/fantasia"><button id="botao_genero" type="button"><span>Fantasia</span><img src="../img/icon_fantasia.svg"></button></a>
        <a href="/romance"><button id="botao_genero" type="button"><span>Romance</span><img src="../img/icon_romance.svg"></button></a>
        <a href="/terror"><button id="botao_genero" type="button"><span>Terror</span><img src="../img/icon_terror.svg"></button></a>
        <a href="/espiritual"><button id="botao_genero" type="button"><span>Espiritual</span><img src="../img/icon_espiritual.svg"></button></a>
        <a href="/literario"><button id="botao_genero" type="button"><span>Outras</span><img src="../img/icon_outras.svg"></button></a>
      </div>
    </div>

    <div class="highlights">
      <h2>Livros em Destaque</h2>
      <div class="listaDestaque">
        <button class="botaoDestaque">
          <img src="../img/setaEsquerda.svg" alt="seta esquerda" />
        </button>
        <div class="listaDestaque_1"><a href="#">
          <img src="../img/livro1.svg" alt="img" /></a>
        </div>
        <div class="listaDestaque_2"><a href="#">
          <img src="../img/livro2.jpg" alt="img" /></a>
        </div>
        <div class="listaDestaque_3"><a href="#">
          <img src="../img/livro3.svg" alt="img" /></a>
        </div>
        <div class="listaDestaque_4"><a href="#">
          <img src="../img/livro4.svg" alt="img" /></a>
        </div>
        <div class="listaDestaque_5"><a href="#">
          <img src="../img/livro5.svg" alt="img" /></a>
        </div>
        <button class="botaoDestaque">
          <img src="../img/setadireita.svg" alt="seta direita" />
        </button>
      </div>
    </div>
      
    <div class="maisLidosNaSemana"> 
      <h2>Mais lidos da semana</h2>
      <div class="livroMaisLidoNaSemana1">
        <img src="../img/livroMaisLidoNaSemana1.svg">
        <div class="info_livroMaisLidoNaSemana1">
          <div class="txt_livroMaisLidoNaSemana1">  
            <h1>A memória de Babel</h1><br>
            <h2>Autora: Christelle Dabos</h2><br>
            <span>Ophélie está isolada na arca de Anima há quase três anos, onde vive uma existência sem emoções. Mas, encorajada por novas revelações do livro de Farouk e por um segredo que pode ser a chave entre passado e futuro, é chegada a hora de agir.
                  Sob uma identidade falsa, ela viaja até Babel, uma arca ultramoderna e cosmopolita, habitada pelos mais suspeitos residentes. Composta por mais de mil ilhas e conhecida como “a joia do universo”, a arca esconde inúmeras armadilhas atrás de seus rígidos regulamentos.           
                  Ophélie precisa usar todas as suas forças...
            </span>
          </div>
          <div class="views_rating">
              <img id="views" src="../img/viewsIcon.svg">
              <h3>114 views</h3>
              <img id="rating" src="../img/ratingIcon.svg">
              <h3>8,5685</h3>
          </div>
        </div> 
      </div>
      <div class="boxLivrosMaisLidosNaSemana">
        <div class="LivroMaisLidoNaSemana2">
          <img src="../img/LivroMaisLidoNaSemana2.svg">
            <div class="txt_boxLivroMaisLidoNaSemana">
              <h2>Os noivos do inverno: 1 </h2>
              <h3>Christelle Dabos</h3><br>
              <h4>Honesta e cabeça-dura, Ophélie não se importa com as aparências. Mas, por baixo de seus óculos de aros largos e cachecol desgastado, a garota esconde poderes únicos: ela pode ler o passado dos objetos e atravessar espelhos. A vida tranquila que leva em Anima se transforma quando Ophélie é prometida em casamento a Thorn, herdeiro...</h4>
          </div>
        </div>
        <div class="LivroMaisLidoNaSemana3">
          <img src="../img/LivroMaisLidoNaSemana3.svg">
          <div class="txt_boxLivroMaisLidoNaSemana">
            <h2>O Timbre: 3</h2>
            <h3>Neal Shusterman</h3><br>
            <h4>A humanidade alcançou um mundo ideal em que não há fome, doenças, guerras, miséria… nem morte. Mas, mesmo com todo o esforço da inteligência artificial da Nimbo-Cúmulo, parece que alguns problemas humanos, como a corrupção e a sede de poder, também são imortais. Desde que o ceifador Goddard começou a ganhar seguidores da nova ordem, entusiastas do prazer de matar...</h4>
          </div>
        </div>
          <div class="LivroMaisLidoNaSemana4">
            <img src="../img/LivroMaisLidoNaSemana4.svg">
            <div class="txt_boxLivroMaisLidoNaSemana">
              <h2>As Crônicas de Olam - Volume 2</h2>
              <h3>L. L. Wurlitzer</h3><br>
              <h4>A inesperada queda da cidade branca e o vácuo de poder provocam um estado de guerra generalizada entre as cidades de Olam. O caos avança enquanto dragões e behemots se enfrentam em batalhas mortais. Apesar de vitoriosos, os shedins são forçados a recuar para a cortina de trevas afim de se recuperarem das baixas causadas...</h4>
            </div>
          </div>
      </div> 
    </div>

    <div class="exploreLivrosNaComunidade">
      <h2>Explore livros na comunidade</h2>
      <div class="livros_comunidade">
        
        <div class="livro_comunidade"> <a href="#">
          <img src="../img/livro_comunidade1.svg"></a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Romance</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade2.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h4>
                </div>
              </div>
              <h3>Ação</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade3.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Aventura</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade4.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Terror</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade5.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Biografia</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade6.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Ficção</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade7.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Mistério</h3>
            </div>
          </div>
        </div>

        <div class="livro_comunidade">  <a href="#">
          <img src="../img/livro_comunidade8.svg"> </a>
          <div class="info_livro_comunidade">
            <h3>Nome do Livro Loren</h3><br>
            <div class="info2_livro_comunidade">
              <div id="views_rating_comunidade">
                <div id="img_views_rating_comunidade" >
                  <img src="../img/viewsIcon.svg">
                  <h5>114 views</h5>
                </div>
                <div id="img_views_rating_comunidade" >
                  <img src="../img/ratingIcon.svg">
                  <h5>8,5685</h5>
                </div>
              </div>
              <h3>Suspense</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
  <footer>    
    <div class="naoEncontrou">
      <h2 id="text_naoEncontrou">Não encontrou o que procurava?</h2>
      <img class="naoEncontrou_img" src="../img/naoEncontrou.svg">
      <div id="naoEncontrou_pesquisa">
        <input type="text"/>
        <a id="naoEncontrou_lupa" href="#">
        <img src="../img/lupaNew.svg">
        </a>
      </div>
    </div>
  </footer>
</body>
</html>