<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <header>
      <img class="fotoHeader" src="../img/logo.svg" alt="Logo" />
      <nav class="navHeader">
        <div class="explorar">
          <a href="#">Explorar</a>
          <img src="../img/setaExplorar.svg" alt="setaExplorar" />
        </div>
        <div>
          <a href="#">Sobre</a>
        </div>
      </nav>
      <div class="login">
        <div>
          <img src="../img/profile.webp" alt="foto campo login" />
        </div>
        <a href="#" class="campoLogin">Entrar</a>
        <p class="campoOU">|</p>
        <a href="#">Registrar</a>
      </div>
    </header>
    <main>
      <section>
        <article>
          <div  class="textoPrincipal">
            <h1>Somos a All Write</h1>
            <h3>Escreva e publique seus livros na comunidade</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit ut
              aliquam, purus sit amet luctus venenatis, lectus magna fringilla
              urna, porttitor rhoncus.
            </p>
          </div>
        </article>
        <article class="lateralDireitaFoto">
            <div class="imagemLateralCima">
                <img
                 src="../img/lateralCima.svg"
                 alt="arte site">
            </div>
            <div class="notebookHome">
              <img
               src="../img/notebook.svg"
               alt="notebook Home">
            </div>
        </article>
      </section>
      <section>
        <article>
          <div class="explicacao">
            <img
            src="../img/fundoLaranjaIndex.svg"
            alt="fundo laranja - arte da pagina index"
            class="artFundo">
            <img 
            src="../img/artFundoMaior.svg" 
            alt="" 
            class="artFundoMaior">
            <h2 class="explicacao_texto">
              Como funciona?
            </h2>
            <div class="como_usar">
              <img
               src="../img/explicacao_1.svg" 
               alt=""
               class="explicacao1">
               <img
                src="../img/explicao_seta_1.svg" 
                alt=""
                class="seta1">
                <img 
                src="../img/explicacao_2.svg" 
                alt=""
                class="explicacao2">
                <img 
                src="../img/esplicacao_seta_2.svg" 
                alt=""
                class="seta2">
                <img 
                src="../img/explicacao_3.svg" 
                alt=""
                class="explicacao3">
            </div>
          </div>
        </article>
      </section>
      <section>
        <article>
          <div class="final">
            <img src="../img/mao_completa.svg" alt="" class="mao">
          </div>
        </article>
      </section>
    </main>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
