<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="shortcut icon" href="../img/allwrite_favicon_branco.ico" />
    <title>All Write</title>
  </head>

  <body>
    <header>
      <div class="logoHeader">
        <button  class="menu">
          <img src="../img/menu.svg" alt="menuFoto">
        </button>
        <img src="../img/logo.jpeg" alt="Logo do site" />
      </div>
      <div class="profile">
        <img src="../img/profile.webp" alt="imagem profile" />
        <a href="#">Entrar</a>
        <a href="./register">Cadastrar</a>
      </div>
    </header>
    <main>
      <section>
        <article>
          <form action="/pesquisa" method="POST" class="pesquisa">
            <input type="text" placeholder="Digite aqui o livro procurado" />
          </form>
        </article>
      </section>
      <section>
        <article>
          <div class="carrocel">
            <div>
              <ul type="none" class="listaCarrocel">
                <li>
                  <div class="carrocelImg">
                    <img src="#" alt="imagem do carrocel" />
                  </div>
                  <div>
                    <p class="carrocelTxt">
                      texto do carrocel/usar JS ao passar mouse em cima aparecer
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="carroceltexto"></div>
          </div>
        </article>
      </section>
      <section>
        <article>
          <div id="principal">
            <h1>Livro de destaque</h1>
          </div>
          <div class="listaDestaque">
            <button class="botaoDestaque">
              <img src="../img/setaEsquerda.svg" alt="seta direita" />
            </button>
            <div class="um">
              <img src="" alt="img" />
            </div>
            <div class="dois">
              <img src="" alt="img" />
            </div>
            <div class="tres">
              <img src="" alt="img" />
            </div>
            <div class="quartro">
              <img src="" alt="img" />
            </div>
            <div class="cinco">
              <img src="" alt="img" />
            </div>
            <button class="botaoDestaque">
              <img src="../img/setadireita.svg" alt="seta direita" />
            </button>
          </div>
        </article>
      </section>
      <section>
        <article>
          <h2 class="tituloGenero">Genêros</h2>
          <div class="categorias">
            <div class="coluna1">
              <div>
                <a href=""> Aventura </a>
              </div>
              <div>
                <a href=""> Romance </a>
              </div>
              <div>
                <a href=""> Terror </a>
              </div>
            </div>
            <div class="coluna2">
              <div>
                <a href=""> Jovens / Adultos </a>
              </div>
              <div>
                <a href=""> Mistério </a>
              </div>
              <div>
                <a href=""> Biografia </a>
              </div>
            </div>
            <div class="coluna3">
              <div>
                <a href=""> Auto ajuda </a>
              </div>
              <div>
                <a href=""> Música </a>
              </div>
              <div>
                <a href=""> História </a>
              </div>
            </div>
            <div class="coluna4">
              <div>
                <a href=""> Ficção científica </a>
              </div>
              <div>
                <a href=""> Política </a>
              </div>
              <div>
                <a href=""> Mitologia </a>
              </div>
            </div>
          </div>
        </article>
      </section>
      <section>
        <article>
          <div class="texts">
            <span class="alinharSpan">
              <h2 class="tituloResenha">Resenhas</h2>
              <h2 class="toper">Top Perfis</h2>
              <h2 class="count">Contador</h2>
            </span>
          </div>
          <div class="final">
            <div class="baixo">
              <div class="resenhas">
                <div class="resenha1">
                  <div class="divResenha">
                    <img src="" alt="img" />
                  </div>
                  <div>
                    <p>
                      Neque porro quisquam est qui dolorem ipsum quia dolor sit
                      amet, consectetur, adipisci velit
                    </p>
                  </div>
                </div>
                <div class="resenha2">
                  <div class="divResenha">
                    <img src="" alt="img" />
                  </div>
                  <div>
                    <p>
                      Neque porro quisquam est qui dolorem ipsum quia dolor sit
                      amet, consectetur, adipisci velit
                    </p>
                  </div>
                </div>
              </div>
              <div class="lateralCompleta">
                <div class="baixoDireita">
                  <div>
                    <div class="topPerfis">
                      <button>
                        <a href="./profile">Marcelo Gamon</a>
                      </button>
                      <button>
                        <a href="./profile">Paloma Lima</a>
                      </button>
                      <button>
                        <a href="./profile">Barbara Fernandez</a>
                      </button>
                      <button>
                        <a href="./profile">Nicolas Soares</a>
                      </button>
                      <button>
                        <a href="./profile">Ariel Pellegrino</a>
                      </button>
                    </div>
                  </div>
                  <div class="lateralDireita">
                    <div class="contador">
                      <p>Nº Paginas</p>
                    </div>
                    <div class="redes">
                      <p>Sigam-nos</p>
                      <div class="espacoRedes"></div>
                    </div>
                  </div>
                </div>
                <div>
                  <div>
                    <h2>Sorteio</h2>
                    <div class="sorteio"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <footer>
      <div class="footer1"></div>
      <div class="footer2"></div>
      <div class="footer3"></div>
    </footer>
  </body>
</html>
