<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">>
    <title>Login</title>

</head>

<body>
    <form>
        <div class="container">
            <label>E-mail</label>
            <input class="input_login" type="text" placeholder="" required>
            <label>Senha</label> 
            <input class="input_login" type="password" placeholder="" required>
            
            <div> <button class="login_submit">ENTRAR</button></div>
            <a class="login_reset" href="#">Esqueci a senha</a>




            
        </div>
    </form>
 
    
</body>
</html>