<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../img/favicon.png" />
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../public/styles/popUp.css">

</head>
<body>
  <!--    <%=Título do Livro%>
    <%=sinopse do Livro%>   -->
    <div class="modal" id="modal">    
        <div class="pop_up">
            <div class="capa">
                <img id="capa" src="../public/img/FrankPayne.jpg" id="id_livro">
            </div>

            <div class="info_livro">
                <div class="btnClose">
                    <img id="btn_close" src="../public/img/x.svg" onclick="closeModal()">
                    <h2>Frank Payne e a Caverna Misteriosa</h2>
                </div>
                    <button type="submit" id="send_library" name="send_library">Enviar para biblioteca</button>
                    <h3>Até onde você iria para encontrar seu pai desaparecido e dado como morto há cinco anos, mas que acabara de se comunicar com você de uma forma totalmente imprevisível?
                        Frank Payne, um garoto de 17 anos, acabou de receber do mar uma enigmática pedra que faz sua vida virar de cabeça para baixo, após descobrir algumas inscrições em uma língua desconhecida indicando o paradeiro de seu pai Douglas, que desapareceu há cinco anos.
                        Junto de sua amiga Barbara e seu avô Walter partem para a ilha de Guam, no extremo pacífico. Dentro de um submarino chegam às profundezas do oceano, precisamente na Fossa das Marianas onde atravessam um portal mágico que os levam para dentro de uma caverna um tanto misteriosa.

            </div>
        </div>
    </div>

</body>
</html>