<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/profile.css">
    <script type="text/javascript" src="../javascript/carousel.js"></script>
  </head>
  <body>

    <!-- HEADER - Topo do  site-->
        <header>

                   <a href="#" alt="Home page" class="logo__color"> </a>
                          <nav >
                              <ul class="menu">
                                      <li> <a href="#">Explorar</a>
                                             <ul>
                                                    <li><a href="#"> Aventura </a></li>
                                                    <li><a href="#"> Ação </a></li>
                                                    <li><a href="#"> Fantasia </a></li>
                                                    <li><a href="#"> Ficção </a></li>
                                                    <li><a href="#"> Poesia </a></li>
                                                    <li><a href="#"> Romance </a></li>
                                                    <li><a href="#"> Suspense </a></li>
                                                    <li><a href="#"> Terror </a></li>
                                                    <li><a href="#"> Biografia </a></li>
                                                    <li><a href="#"> Miterário </a></li>
                                                    <li><a href="#"> Espiritual </a></li>
                                              </ul>
                                            </li>

                                      <li> <a href="#">Sobre</a></li>
                                      <li> <a href="#">Suporte</a></li>
                              </ul>

                          </nav>


                          <div class="field_user">


                                            <img class="img_login" src="../img/foto_icon_user.svg">
                                                <a href="#" id="user__">ID_usuário</a>
                                                <img class="enginer__icon" src="../img/engrenagem.svg">

                          </div>
            </header>
<!-- FIM do topo do site-->

<!-- INICIO DO MAIN - CORPO DO SITE-->
            <main>

                <!--Incio Campo de busca-->
                <div class="align__search">
                <div class="search__field">
                    <input type="text" id="search" placeholder="Buscar..."/>
                    <img src="../img/search_icon.svg">
                </div>
              </div>
                 <!--Fim Campo de busca-->


                 <!--Inicio Bloco do perfil do usuário-->
                 <div class="align__profile">
                      <section class="user_profile">
                              <div class="photo__profile">

                              </div>

                              <div class="text__profile">
                                          <h1><a href="#" >Nome do usuário</a></h1>
                                              <h2>
                                                  Caixa de texto com uma descrição do perfil do usuário

                                                  Lorem ipsum dolor sit amet,
                                                  consectetur adipiscing elit ut aliquam,
                                                  purus sit amet luctus venenatis
                                                  Lorem ipsum dolor sit amet,
                                                  consectetur adipiscing elit ut aliquam,
                                                  purus sit amet luctus venenatis
                                              </h2>
                              </div>
                      </section>



                    <section class="user_books">
                          <div class="my__publications">
                              <div class="title__publication">
                                  <h1>Minhas publicações</h1>

                                            <div class="btn__my__publication">
                                                          <img id="previus__books" src="../img/previus__img.svg" onclick="previus__books();">
                                                          <img id="next__books" src="../img/next__img.svg" onclick="next__books();">
                                          </div>

                              </div>

                              <!-- Carrossel JS primeiro bloco = Meus livros -->
                              <article class="my__books" id="carrossel__my__books">

                                                    <div class="book__block">
                                                            <img src="../img/book_libary_test.svg">
                                                                <div class="title__book__block">
                                                                      <h1><a href="#">Nome do Livro</a></h1>
                                                                            <h3>Data publicação</h3>
                                                                      <h5><a href="#">114 views</a></h5>
                                                            </div>
                                                    </div>

                                                    <div class="book__block">
                                                      <img src="../img/book_libary_test.svg">
                                                          <div class="title__book__block">
                                                                <h1><a href="#">Nome do Livro</a></h1>
                                                                      <h3>Data publicação</h3>
                                                                <h5><a href="#">114 views</a></h5>
                                                      </div>
                                                     </div>

                                              <div class="book__block">
                                                <img src="../img/book_libary_test.svg">
                                                    <div class="title__book__block">
                                                          <h1><a href="#">Nome do Livro</a></h1>
                                                                <h3>Data publicação</h3>
                                                          <h5><a href="#">114 views</a></h5>
                                                </div>
                                        </div>

                                        <div class="book__block">
                                          <img src="../img/book_libary_test.svg">
                                              <div class="title__book__block">
                                                    <h1><a href="#">Nome do Livro</a></h1>
                                                          <h3>Data publicação</h3>
                                                    <h5><a href="#">114 views</a></h5>
                                          </div>
                                  </div>


                              </article>

                              <div class="btn__publication">

                              </div>

                          </div>

                          <div class="community">
                            <div class="title__community">
                              <h1>Comunidade</h1>
                        </div>

                          </div>

                          <div class="my__reading">
                              <div class="title__reading">
                                    <h1>Minha Leitura</h1>


                                    <div class="btn__my__reading">
                                                  <img class="previus__reading" src="../img/previus__img.svg">
                                                  <img class="next__reading" src="../img/next__img.svg">
                                     </div>



                              </div>


                          </div>

                      </section>
              </div>




            </main>




<!-- FIM DO MAIN - CORPO DO SITE-->

<footer>

  <h1>All Wirte © - Todos os direito reservados </h1>

</footer>
  </body>
</html>
