<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
   
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <a href="profile.html"><img src="/img/logo.png" alt="Logo All Write" class="logotipo"></a>       
        <nav>            
            <ul class="menu">
                <li><a href="#">Explorar</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>
            <div class="logoVetor">
                <span style="font-size: 25px; color:rgb(218, 110, 22); margin-left: 15px; margin-top: 5px;" class="fa fa-user"></span>
                <a class="boasVindas" href="">Olá usuário</a> 
                
                <span style="font-size: 25px; color:rgb(123, 123, 128); margin-left: 15px; margin-top: 5px;" class="fa fa-cog"></span>
               
            </div>
        </nav>
        
        <div>
            <input class="search" type="text" placeholder="Busque por...">
            <span style="font-size: 25px; color:rgb(123, 123, 128); position: absolute; margin-left: 5px; margin-top: 100px;" class="fa fa-search"></span>
        </div>

        <p class="minhasPublicacoes">Minhas Publicações</p>
        <div>
            <img src="/img/livroAViagem.png" alt="A viagem de Cilka" class="mpLivro1">
            <p class="nomeLivro1">Nome do Livro</p>
            <p class="dataPublicacao1">Data Publicação</p>
            <img src="/img/carbon_view-filled.png" alt="visualizacoes" class="view1">
        </div>

        <div>
            <img src="/img/livroPalavra.png" alt="a ultima palavra" class="mpLivro2">
            <p class="nomeLivro2">Nome do Livro</p>
            <p class="dataPublicacao2">Data Publicação</p>
            <img src="/img/carbon_view-filled.png" alt="visualizacoes" class="view2">
        </div>

    </div>
    <p class="minhaLeitura">Minha Leitura</p>
    <div>

        <div>
            <img src="/img/livroAViagem.png" alt="A viagem de Cilka" class="mlLivro1">
        </div>

        <div>
            <img src="/img/livroLuzLua.png" alt="A viagem de Cilka" class="mlLivro2">
        </div>

        <div>
            <img src="/img/livroDepois.png" alt="A viagem de Cilka" class="mlLivro3">
        </div>

        <div>
            <img src="/img/livroCasaTerra.png" alt="A viagem de Cilka" class="mlLivro4">
        </div>


        <div>
            <img src="/img/fotoPerfil.png" alt="foto Usuario" class="fotoUsuario">
        </div>

        <p class="Username">Nome do usuário</p>
        <p class="boxTexting">Caixa de texto com uma descrição do perfil do usuário Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis</p>

        <div>
            <img src="/img/blobsTopo (1).png" alt="bolhas" class="blobsTopo">

        </div>

        <div class="colorStatus1"></div>
        <div class="colorStatus2"></div>
        <div class="colorStatus3"></div>
    </header>
    <footer class="rodape"></footer>
    
</body>
</html>