<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile leitura.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
    <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
   
    <title>Profile</title>
</head>
<body>
    <!-------------------BARRA DE NAVEGAÇÃO------------------------------------->
    <header class="header">
        <a href="profile.html"><img src="/img/logo.png" alt="Logo All Write" class="logotipo"></a>       
        <nav>            
            <ul class="menu">
                <li><a href="#">Explorar</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Fale Conosco</a></li>
            </ul>            
        </nav>
            <div class="logoVetor">
            <span style="font-size: 22px; color:rgb(218, 110, 22); margin-left: 15px; margin-top: 5px;" class="fa fa-user"></span>
            <a class="boasVindas" href="">Olá usuário</a>             
            <span style="font-size: 22px; color: rgb(230, 159, 112); margin-left: 15px; margin-top: 5px;" class="fa fa-cog"></span>
            </div>
    <!-------------------BARRA DE BUSCA------------------------------------->
        <div>
            <input class="search" type="text" placeholder="Busque por...">
            <span style="font-size: 25px; color:rgb(123, 123, 128); position: absolute; margin-left: -400px; margin-top: 10px;" class="fa fa-search"></span>
        </div>    

    <!-------------------VETOR DO CANTO INFERIOR----------------------------->    
        <div>
            <img src="/img/blobsTopo (1).png" alt="bolhas" class="blobsTopo">
        </div>

    <!-------------------SUA BIBLIOTECA------------------------------------->
    <div class= "suaBiblioteca"></div>
    <div class= "nomeSuaBiblioteca"> Sua Biblioteca</div>
    
    
        

    <!-------------------CAMPO DE LEITURA----------------------------------->
        <div class="nomeLivro">Nome do Livro</div>
        <div class="campoLeitura"></div>


        
    </header>
    
    <footer class="rodape"></footer>
    
</body>
</html>