<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - profile</title>
    <link rel="stylesheet" href="../public/styles/global.css">
    <link rel="stylesheet" href="../public/styles/reader_book.css">

  </head>
  <body>

    <!-- HEADER - Topo do  site-->
        <header>
           
                   <a href="#" alt="Home page" class="logo__color"> </a>
                          <nav >
                              <ul class="menu">
                                      <li> <a href="#">Explorar</a>
                                             <ul>
                                                    <li><a href="#"> Aventura </a></li>
                                                    <li><a href="#"> Ação </a></li>
                                                    <li><a href="#"> Fantasia </a></li>
                                                    <li><a href="#"> Ficção </a></li>
                                                    <li><a href="#"> Poesia </a></li>
                                                    <li><a href="#"> Romance </a></li>
                                                    <li><a href="#"> Suspense </a></li>
                                                    <li><a href="#"> Terror </a></li>
                                                    <li><a href="#"> Biografia </a></li>
                                                    <li><a href="#"> Miterário </a></li>
                                                    <li><a href="#"> Espiritual </a></li>
                                              </ul>
                                            </li>
                                 
                                      <li> <a href="#">Sobre</a></li>
                                      <li> <a href="#">Suporte</a></li>
                              </ul>

                          </nav>
             

                          <div class="field_user">
                               
                                        
                                            <img class="img_login" src="../public/img/foto_icon_user.svg">
                                                <a href="#" id="user__">ID_usuário</a>
                                                <img class="enginer__icon" src="../public/img/engrenagem.svg">
                                        
                          </div>
            </header>
<!-- FIM do topo do site-->

<!-- INICIO DO MAIN - CORPO DO SITE-->
            <main>

                            <section class="my__book">
                              <h1>Sua biblioteca</h1>
                                  <nav>
                                          <ul>
                                                  <li>
                                                       <img src="../public/img/book__reader_book1.svg">
                                                       <div class="data__book_reader">
                                                              <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                                              <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                                              <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                                                  <img src="../public/img/eye__book_views.svg">    
                                                                Visualizações
                                                                     </a>
                                                       </div>
                                                  </li>

                                                  <li>
                                                    <img src="../public/img/book__reader_book2.svg">
                                                    <div class="data__book_reader">
                                                           <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                                           <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                                           <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                                               <img src="../public/img/eye__book_views.svg">    
                                                             Visualizações
                                                                  </a>
                                                    </div>
                                               </li>

                                               <li>
                                                <img src="../public/img/book__reader_book1.svg">
                                                <div class="data__book_reader">
                                                       <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                                       <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                                       <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                                           <img src="../public/img/eye__book_views.svg">    
                                                         Visualizações
                                                              </a>
                                                </div>
                                           </li>

                                           <li>
                                            <img src="../public/img/book__reader_book2.svg">
                                            <div class="data__book_reader">
                                                   <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                                   <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                                   <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                                       <img src="../public/img/eye__book_views.svg">    
                                                     Visualizações
                                                          </a>
                                            </div>
                                       </li>

                                       <li>
                                        <img src="../public/img/book__reader_book1.svg">
                                        <div class="data__book_reader">
                                               <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                               <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                               <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                                   <img src="../public/img/eye__book_views.svg">    
                                                 Visualizações
                                                      </a>
                                        </div>
                                   </li>

                                   <li>
                                    <img src="../public/img/book__reader_book2.svg">
                                    <div class="data__book_reader">
                                           <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                           <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                           <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                               <img src="../public/img/eye__book_views.svg">    
                                             Visualizações
                                                  </a>
                                    </div>
                               </li>

                               <li>
                                <img src="../public/img/book__reader_book1.svg">
                                <div class="data__book_reader">
                                       <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                       <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                       <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                           <img src="../public/img/eye__book_views.svg">    
                                         Visualizações
                                              </a>
                                </div>
                           </li>

                           <li>
                            <img src="../public/img/book__reader_book2.svg">
                            <div class="data__book_reader">
                                   <a href="#" id="name__book_reader" class="link__style_nameBook">Nome do Livro</a>
                                   <a href="#" id="date__book_reader" class="link__style_dateBook">Data de publicaçao</a>
                                   <a href="#" id="views__book_reader" class="link__style_viewsBook">
                                       <img src="../public/img/eye__book_views.svg">    
                                     Visualizações
                                          </a>
                            </div>
                       </li>

                                               
                                             
                                                
                                          </ul>
                                  </nav>
                             </section>
                             
                

                             <section class="top__reader">
                                      
                                                  <h1>Nome do Livro</h1>

                                                  <div class="toggle__button">
                                                    <input id="switch" type="checkbox" name="theme">
                                                    <label for="switch">Toggle</label>
                                                  </div>

                                                  <article class="reader__book">
                                                      <div id="book__">

                                                        AQUI VAI A RENDERIZAÇÃO DO LIVRO 
                                                      </div>

                                                  </article>

                             </section>
         


            </main>


<!-- FIM DO MAIN - CORPO DO SITE-->

<footer>

    <img src="../public/img/logo.svg" class="logo__footer">

</footer>
<script src="../public/javascript/darkMode.js"></script>
  </body>
</html>
