<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/registro.css">
    <link rel="stylesheet" href="css registro/style.css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">>
    <title>Registro</title>

</head>
<body>
    <form>
        <div class="container">
            <p><strong>CADASTRE-SE e tenha acesso a milhares de livros em nossa comunidade</strong> </p>

              
                 <div class="grupo_identificação">
                    <label>Nome Completo</label>
                    <input class="input_field" type="text"  required>
                 </div>

                 <div class="grupo_identificação">
                    <label>Endereço de E-mail</label> 
                    <input class="input_field" type="email"  required>
                </div>
                               
           
                <div class="grupo_senha">
                    <label>Senha</label> 
                    <input class="input_password" type="password"  required>
                </div>

                <div class="grupo_senha">
                    <label>Repetir Senha</label> 
                    <input class="input_password" type="password"  required>
                </div> 
              

                <div>
                    <a class="use_terms" href="#">Concordo com os Termos de Uso</a>
                </div>
                
                <div> <button  class="login_register">CADASTRAR</button></div>
        
            
        </div>
    </form>
 
    
</body>
</html> 
