<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write - Contatos - Suporte</title>
    <link rel="shortcut icon" href="../img/favicon.png" />
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/success.css">
  </head>
  
  <body>
    <!-- HEADER - Topo do  site-->
    
    <header>
      <a href="/dashboard" alt="Home page" class="logo__color"> </a>
      <nav >
        <ul class="menu">
          <li> <a href="#">Explorar</a>
            <ul>
              <li><a href="/aventura"> Aventura </a></li>
              <li><a href="/acao"> Ação </a></li>
              <li><a href="/fantasia"> Fantasia </a></li>
              <li><a href="/ficcao"> Ficção </a></li>
              <li><a href="/poesia"> Poesia </a></li>
              <li><a href="/romance"> Romance </a></li>
              <li><a href="/suspense"> Suspense </a></li>
              <li><a href="/terror"> Terror </a></li>
              <li><a href="/biografia"> Biografia </a></li>
              <li><a href="/literario"> Literário </a></li>
              <li><a href="/espiritual"> Espiritual </a></li>
            </ul>
            </li>
          <li> <a href="#">Sobre</a></li>
          <li> <a href="contact_support">Suporte</a></li>
        </ul>
      </nav>

      <div class="field_user">
        <img class="img_login" src="../img/foto_icon_user.svg">
          <a href="/profile" id="user__">ID_usuário</a>
          <a href="/profile__config"><img class="enginer__icon" src="../img/engrenagem.svg"></a>


      </div>
    </header>
<!-- FIM do topo do site-->

<!-- INICIO DO MAIN - CORPO DO SITE-->
    <main>
        <h1>Obrigado por entrar em contato.</h1>
        <h3>Recebemos sua mensagem e em breve retornaremos.</h3>
        <button type="submit" id="submit" value="Send Message">Continuar Navegando</button>
    </main>

<!-- FIM DO MAIN - CORPO DO SITE-->

    <footer>
    </footer>
    <script src="../javascript/validatorContact.js"></script>
  </body>
</html>
