<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <title>Biblioteca</title>
    <meta name="description" content="Biblioteca"/>
    <meta name="robots" content="ALL"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Biblioteca"/>
    <meta property="og:description" content="Biblioteca"/>
    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content="Biblioteca"/>
	<link rel="shortcut icon" href="../img/favicon.ico" />
	<link rel="stylesheet" href="../styles/global.css">
	<link rel="stylesheet" href="../styles/dashboard.css">
	<link type="text/css" href="../styles/style.min.css" rel="stylesheet" media="screen">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
	<script src="../javascripts/jquery-3.3.1.js"></script>
	<script src="../javascripts/wow.min.js"></script>
</head>
<body>
	<header>
		<a href="/dashboard" alt="Home page" class="logo__color"> </a>
		<nav >
		  <ul class="menu">
			<li> <a href="#">Explorar</a>
				<ul>
					<li><a href="/aventura"> Aventura </a></li>
					<li><a href="/acao"> Ação </a></li>
					<li><a href="/fantasia"> Fantasia </a></li>
					<li><a href="/ficcao"> Ficção </a></li>
					<li><a href="/poesia"> Poesia </a></li>
					<li><a href="/romance"> Romance </a></li>
					<li><a href="/suspense"> Suspense </a></li>
					<li><a href="/terror"> Terror </a></li>
					<li><a href="/biografia"> Biografia </a></li>
					<li><a href="/literario"> Literário </a></li>
					<li><a href="/espiritual"> Espiritual </a></li>
				  </ul>
					</li>
			<li> <a href="#">Sobre</a></li>
			<li> <a href="/contact_support">Suporte</a></li>
		  </ul>
		</nav>
	
		<div class="field_user">
		  <img class="img_login" src="../img/foto_icon_user.svg">
			<a href="/profile" id="user__">ID_usuário</a>
			<a href="/profile__config"><img class="enginer__icon" src="../img/engrenagem.svg"></a>
	
		</div>
	  </header>
<main>  
	<section>
		<div class="contentSite">
			<div class="btAcao"><a href="">TERROR</a></div>
			<div class="center">
				<img src="../img/tema1.png" />
				<img src="../img/tema2.png" />
				<img src="../img/tema3.png" />
				<img src="../img/tema4.png" />
				<img src="../img/tema5.png" />
				<img src="../img/tema6.png" />
			</div>
		</div>
	</section>
	<section class="m80">
		<div class="contentSite">
			<h2 class="titleBib">Biblioteca</h2>
			<div class="border"></div>
			<div class="flexCenter m80" style="flex-wrap: wrap;">
				<div class="flexCenter item1">
					<a href="" class="d-block"><img src="../img/b_livro1.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item2">
					<a href="" class="d-block"><img src="../img/b_livro2.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item3">
					<a href="" class="d-block"><img src="../img/b_livro3.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item4">
					<a href="" class="d-block"><img src="../img/b_livro4.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
			
				<div class="flexCenter item1">
					<a href="" class="d-block"><img src="../img/b_livro5.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item2">
					<a href="" class="d-block"><img src="../img/b_livro6.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item3">
					<a href="" class="d-block"><img src="../img/b_livro7.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
				<div class="flexCenter item4">
					<a href="" class="d-block"><img src="../img/b_livro8.png" /></a>
					<div class="descricao">
						<h2>Nome do livro</h2>
						<p>Autor</p>
						<p>Data lançamento</p>
						<div class="boxViews">
							<div><img src="../img/viewsIcon.svg"> 114 Views</div>
							<div><img src="../img/ratingIcon.svg"> 5,6585</div>
						</div>
					</div>
				</div>
			</div>
			<div class="flexCenter">
				<nav aria-label="...">
					<ul class="pagination">
					<li class="page-item disabled"><span class="page-link"><</span></li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item active" aria-current="page"><span class="page-link">2</span></li>
					<li class="page-item"><a class="page-link" href="#">></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!-- SCRIPTS -->
	<script src="../javascripts/jquery.smartmenus.min.js"></script>
	<script src="../javascripts/slick.js"></script>
	<script>
		$('.center').slick({
		centerMode: true,
		centerPadding: '60px',
		slidesToShow: 3,
		responsive: [
		{
			breakpoint: 768,
			settings: {
			arrows: false,
			centerMode: true,
			centerPadding: '40px',
			slidesToShow: 3
			}
		},
		{
			breakpoint: 480,
			settings: {
			arrows: false,
			centerMode: true,
			centerPadding: '40px',
			slidesToShow: 1
			}
		}
		]
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>	
</main>
</body>
</html>
