<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Write</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/success.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
  </head>
  
  <body>
    <!-- HEADER - Topo do  site-->
    
    <header>
      <a href="#" alt="Home page" class="logo__color"> </a>
      <nav >
        <ul class="menu">
          <li> <a href="#">Explorar</a>
            <ul>
              <li><a href="#"> Aventura </a></li>
              <li><a href="#"> Ação </a></li>
              <li><a href="#"> Fantasia </a></li>
              <li><a href="#"> Ficção </a></li>
              <li><a href="#"> Poesia </a></li>
              <li><a href="#"> Romance </a></li>
              <li><a href="#"> Suspense </a></li>
              <li><a href="#"> Terror </a></li>
              <li><a href="#"> Biografia </a></li>
              <li><a href="#"> Miterário </a></li>
              <li><a href="#"> Espiritual </a></li>
            </ul>
          </li>
          <li> <a href="#">Sobre</a></li>
          <li> <a href="#">Suporte</a></li>
        </ul>
      </nav>

      <div class="field_user">
        <img class="img_login" src="../img/foto_icon_user.svg">
          <a href="#" id="user__">ID_usuário</a>
        <img class="enginer__icon" src="../img/engrenagem.svg">
      </div>
    </header>
<!-- FIM do topo do site-->